@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #010626;
  --cor2: #022859;
  --cor3: #034C8C;
  --cor4: #2481A6;
  --cor5: #F2CA50;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #000, var(--cor2));
  color: var(--cor2);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap; 
}

header {
  background: linear-gradient(to right, rgba(0,0,0,0.95), var(--cor2));
  height: 50px;
}

header ul {
  text-align: right;
  padding: 15px 15px 0 0;
}

header a {
  font-weight: bold;
  color: var(--cor3);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  transition: color 0.5s;
}

header a:hover {
  color: rgba(0, 0, 0, 0.25);
}

#subtitulo {
  font-family: 'Passion One', cursive;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 3px;
  color: var(--cor5);
}

#subtitulo::before {
  content: "🎨 ";
}

#eu {
  font-family: 'Passion One', cursive;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.4em;
  text-align: left;
  max-width: 450px;
  margin-left: 10px;
  color: cornflowerblue;
}

#config {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#minhafoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

#habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#rede, #contato {
  color: white;
}

#rede {
  text-align: center;
  margin-top: 20px;
}

#contato {
  margin: 20px;
}

#contato p {
  margin-left: 15px;
}

footer {
  margin-top: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
